
hr.quivertical {
    transform: rotate(90deg);
    left: calc(0% - 47px);
    color: white;
    position: relative;
    margin: unset;
    display: none;
}

:root {
    --wppickercolor: black;
    
}
:root.dark {
    --wppickercolor: white;
}

#taskSearch::placeholder {
    color: white;
}
::placeholder {
    font-family: 'Segoe UI';
}
.textinput {
    font-family: 'Segoe UI';
}

@font-face {
    font-family: Segoe UI;
    src: url(../../fonts/segoeuisl.ttf);
    font-weight: bolder;
}
@media screen and (max-width:769px) {
    #themesrow, .themestext, .themeshr, #app6, #sliders {
        display: none !important;
    }
  }

  @media screen and (max-width:1359px) {
    #taskSearch {
        display: none !important;
    }
  }
  ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}
::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#desktop {
    background-size: cover !important;
    background: url("../../img/bg.png");
    transition: 0.2s;
    font-family: Segoe UI;
}

[type=checkbox] {
    width: 2rem;
    height: 2rem;
    color: black;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
  }


  /* Pseudo element for check styling */

  [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }


  /* Checked */

  [type=checkbox]:checked {
    background-color: currentcolor;
  }

  [type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }


  /* Disabled */

  [type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
  }


  /* IE */

  [type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }

  [type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }

/* End of special values */
.appsHtxt {
    font-family: Segoe UI;
    text-align: center;
    margin: 12px 0px;
    display: none;
}

.curtheme::before {
 content: 'Default';
}

#colorop {
    transition: 0.5s;
}
input[type="text"] {
            text-align: left;
                  }

                 #taskSearch {
                    background: #00000050 !important;
                    padding: 8px 0.1% 9px 32px !important;
                    margin: 0px -40px !important;
                    position: relative !important;
                    top: -11.5px !important;
                    height: calc(0% + 22px);
                    width: calc(0% + 184px) !important;
                    left: calc(0% + 38px) !important;
                    border-radius: 4px !important;
                    color: white;
                    border-color: black;
                    outline: none !important;
                    background-image: url("../../img/icons/tbSearchW.png") !important;
                    background-size: 15px !important;
                    background-repeat: no-repeat !important;
                    background-position: 10px center !important;
                    transition: 0.2s;
                }
                #taskSearch:focus {
                    background: #00000075 !important;
                    background-image: url("../../img/icons/tbSearchW.png") !important;
                    background-size: 15px !important;
                    background-repeat: no-repeat !important;
                    background-position: 10px center !important;
                }
                #taskSearch.dark {
                    filter: invert(1);
                } 
                #taskSearch.icon {
                    background: transparent !important;
                    padding: 8px 0.1% 9px 32px !important;
                    margin: 0px -40px !important;
                    position: relative !important;
                    top: -11.5px !important;
                    height: calc(0% + 22px);
                    width: calc(0% + 0px) !important;
                    left: calc(0% + 38px) !important;
                    border-radius: 4px !important;
                    color: white;
                    border-color: transparent;
                    outline: none !important;
                    background-image: url("../../img/icons/tbSearchD.png") !important;
                    background-size: 15px !important;
                    background-repeat: no-repeat !important;
                    background-position: 10px center !important;
                    transition: 0.2s;
                    filter: invert(0);
                }
                #taskSearch.icon:focus {
                    background: #00000075 !important;
                    background-image: url("../../img/icons/tbSearchW.png") !important;
                    background-size: 15px !important;
                    background-repeat: no-repeat !important;
                    background-position: 10px center !important;
                    width: calc(0% + 184px) !important;
                    border-color: black;
                    cursor: text !important;
                    filter: invert(0);

                
                }
                
                #taskSearch.icon:hover {
                    background: #00000050 !important;
                    background-image: url("../../img/icons/tbSearchW.png") !important;
                    background-size: 15px !important;
                    background-repeat: no-repeat !important;
                    background-position: 10px center !important;
                    transition: 0.5s;
                    border-color: black;
                    cursor: pointer;
                    border-radius: 4px;
                    }
                #taskSearch.icon.dark {
                    filter: invert(1);
                }
                #taskSearch.icon.dark:focus, #taskSearch.icon.dark:hover {
                    filter: invert(1);
                }
                .textinput:focus{
                    outline: none;
                }

#usrinpt, #usrsetinpt {
    width: 89%;
    padding: 15px;
}

a.dark, h1.dark, strong.dark, .centrdAppsTxt.dark, a#dmToggle.dark, #abranding a.dark, .abttxt.dark, span.winclose.dark, .curthemea.dark, .curtheme.dark, .ALDACtxt.dark {
    color: white !important;
}
button.dark, #notebutton.dark {
    color: white;
    background: black;
    border-color: white;
}
span.dark {
    border-color: white;
}


.confirmButton {
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 15%;
}



.timedatetext {
    position: absolute;
    top: calc(0% + 13px);
    right: 2px;
    color: white;
    font-family: Segoe UI;
    text-align: right;
    font-size: 15px;
    transition: 0.2s;
}
.timedate {
    background: #00000050 !important;
    padding: 8px 0.1% 9px 32px !important;
    position: absolute;
    top: -1px;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    height: calc(0% + 22px);
    width: calc(0% + 134px) !important;
    right: 0;
    outline: none !important;
    border: 2px solid;
    border-color: black;
    transition: 0.2s;
}
.timedate.dark {
    filter: invert(1);
}


#appsmenu {
    position: fixed;
    width: 250px;
    height: 0px;
    left: 5px;
    right: 0;
    bottom: 52px;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background: #d6d6d69f;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
}

#appsmenu.dark {
    background: #2929299f;
}
#appsmenu.quidgets {
    width: 606px;
}
#appsmenu.quidgets > hr.quivertical {
    display: block;
}
#appsmenu.quidgets > #appsmenuExpand {
    top: 3px;
    right: 0;
    position: absolute;
    cursor: pointer;
    z-index: 2002;
}

#appsmenu hr {
    margin: 0 !important;
    background: black;
    border: 0px solid transparent;
}
#appsmenu hr.dark {
    background: white !important;
}

#appsmenu.opened {
    height: 300px;
}

#appicons {
	background:transparent;
	border:solid 1px transparent;
	margin: 7px 0 7px 7px;
	height: 84%;
	overflow-y: scroll;
	float:left;
	display:block;
	position: absolute;
	top: calc(0% + 38px);
	padding:0;
	list-style:none;
	transition: 0.2s;
}
#appicons a {
    border: solid 1px transparent;
    display: block;
    padding:3px;
    margin:3px;
    text-decoration: none;
    min-width:220px;
    cursor: pointer;
    font-family: Segoe UI;
    text-align: left;
    transition: 0.2s;
}
#appicons.dark {
    color: white !important;
}
#appicons a:hover {
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #ffffff7a;
    border: 1px solid white;
    transition: 0.1s;
}
#appicons a.dark:hover {
    background: #0000007a;
    border: 1px solid black;
}
#appicons a img {
    border:0;
    vertical-align:middle;
    margin:0 5px 0 0;
}
#appicons a br {
    display: none;
}
#quidgetsEntry {
    cursor: pointer;
    display: block;
    position: relative;
}

#quidgets {
    position: fixed;
    width: 350px;
    height: 345px;
    top: 0;
    left: calc(0% + 255px);
    bottom: 0px;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    /* background: #d6d6d69f; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(5px); */
    -webkit-backdrop-filter: blur(5px);
    /* border-radius: 16px; */
}
#quidgets hr {
    margin: 6px 0px;
}
#quidgets.opened {
    height: 345px;
}
#quidgets h1, #quidgets h2, #quidgets p, #quinews a {
    padding: 5px 5px;
    display: block;
    width: 97%;
    color: black;
}
#quidgets h2 > a {
    color: black;
}
#quidgets.dark h1, #quidgets.dark h2, #quidgets.dark p, #quinews.dark a {
    color: white;
}
#quinews {
    display: block;
    height: 50%;
    overflow-y: scroll;
}
#quinews div {
    display: none;
}
#loginContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background: transparent;
    box-shadow: 3 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 0px;
}


.context-menu {
    position: absolute;
    text-align: center;
    background: #d6d6d660;
    border: 3px solid transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.2s;
}
.context-menu.dark {
    background: #29292960;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    border-radius: 16px;
    background: transparent;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: Segoe UI;
}
.context-menu ul li.dark {
    color: white;
}


.context-menu ul li:hover {
    background: #00000024;
    border: 1px solid white;
}
#userProfile {
	position: absolute;
	top: 0;
	/* right: 0; */
	left: 0;
}

#UserProfile > #userProfile {
    top: unset;
}
#userProfile.dark {
    color: white;
}
#userProfile div {
    font-family: Segoe UI;
    text-decoration: transparent;
    border: solid 1px transparent;
    display: inline-flex;
    padding:3px;
    line-height: 10.5px;
    margin: 2px;
    text-decoration: none;
    min-width: 230px;
    text-align: left;
    transition: 0.2s;
}

#userProfile a {
    line-height: 30px;
}

#userProfile img {
    margin: 0px 3px;
    border-radius: 16px;
}
#userProfile hr {
    margin: 0 !important;
    background: black;
    border: 0px solid transparent;
}

#userProfile hr.dark {
    background: white !important;
}

.uPhr {
    display: none;
}
.uPhrBtm {
    width: calc(0% + 255px);
}

#settingsUP {
        right: calc(0% - 8px);
        top: 6px;
        position: absolute;
        cursor: pointer;
}
#appsmenuExpand {
    right: calc(0% + 36px);
    top: 6px;
    position: absolute;
    cursor: pointer;
}
#itminvert.dark {
    filter: invert(1);
}
#startup {
    position: fixed;
    display: block;
    background: rgb(0 0 0 / 32%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 999999;
}
#startupBlock {
    height: 83%;
    width: 18%;
    left: 0;
    top: 8%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: rgb(0 0 0 / 50%);
    border-radius: 16px;
    position: fixed;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px)
}
.startuplogo {
    position: absolute;
    top: 18%;
    width: 99%;
    text-align: center;
    font-size: 14px;
  }
.startupload {
    position: absolute;
    top: 75%;
    width: 99%;
    text-align: center;
    font-size: 18px;
  }
  button {
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    font-size: 15px;
    background: #CCC;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    margin: 0px 2px;
    font-family: Segoe UI;
  }

  .taskbarPanel {
    display: inline-flex;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    line-height: 33px;
    font-family: Segoe UI;
    font-size: 15px;
    margin: 2px 4px;
    left: calc(0% + 80px);
    padding: 0.3px 0px;
    background: transparent;
    transform: scale(1);
    transition: 0.5s;
    color: black;
}
.taskbarPanel.dark {
    color: white;
}
.taskbarPanel.minimizedTab {
    background: transparent;
}
.winheadimg {
    margin: 1px 3px;
}
.taskpanelimg {
    margin: 0px 0px;
}
#appsPanel {
    display: inline-block;
    border: transparent;
    position: relative;
    font-size: 15px;
    padding: 0px 5px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.12);
    height: 0px;
    transition: 0.5s;
    border-radius: 4px;
    /* left: 0; */
    position: relative;
}
#appsPanel img {
    transition: 0.5s;
    margin:0px 0px;
}
#appsPanel img:hover {
background: rgba(255, 255, 255, 0.5);
transition: 0.5s;
border-radius: 4px;
}

#appsPanel img.dark, #abranding img.dark {
    filter: invert(1)
}





.taskbarPanel:hover{
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    color: #FFF;
}
.taskbarPanel.dark:hover{
    background: rgba(255, 255, 255, 0.3);
}
.taskbarPanel.activeTab {
    background-color: #2e2e2e;
    transform: scale(1.165);
    color: white;
}
.taskbarPanel.activeTab:hover {
    background: rgba(0, 0, 0, 0.3);
}
.taskbarPanel.activeTab.dark {
    background-color: #ffffff;
    color: black;
}
.taskbarPanel.activeTab.dark:hover {
    background: rgba(255, 255, 255, 0.3);
}
.taskbarPanel.minimizedTab {
    transition: 0.5s;
}

.taskbarPanel.closed {
	display: none;
}
.bronzeReversed.dark {
    filter: invert(0);
    transition: 0.2s;
}
.bronzeReversed {
    filter: invert(1);
    transition: 0.2s;
}
.taskbarPanel > .bronzeReversed.dark {
    filter: invert(0);
    transition: 0.2s;
}
.taskbarPanel.activeTab > .bronzeReversed.dark {
  filter: invert(1);
  transition: 0.2s;
}
.taskbarPanel > .bronzeReversed {
    filter: invert(1);
    transition: 0.2s;
}
.taskbarPanel.activeTab > .bronzeReversed {
  filter: invert(0);
  transition: 0.2s;
}
.winheadimg.bronzeReversed.dark {
    filter: invert(0);
    transition: 0.2s;
}
.winheadimg.bronzeReversed {
    filter: invert(1);
    transition: 0.2s;
}
.window {
    /*background: #0000007a;
    border-radius: 5px;*/
    background: #d6d6d69f;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.window.dark {
    background: #29292960;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 0 !important;
    border: none !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}

.fullSizeWindow .windowHeader > span {
    border-radius: 0px;
}

.windowHeader {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    margin: 5px;
    border-radius: 8px;
}
.activeWindow .windowHeader {
    background-color: transparent;
}
.windowHeader > span {
    border: 2px solid transparent;
    border-radius: 8px;
}
.windowHeader.dark > span {
    border: 2px solid transparent;
    border-radius: 8px;
}

.wincontent {
    padding: 0px;
    border: 2px solid transparent;
    border-radius: 0 0 5px 5px;
}

.windowHeader > strong {
    margin: 0px 3px 0 10px;
    display: inline-flex;
    font-family: Segoe UI;
}

.windowHeader > span.winclose:hover {
	background: rgba(255,255,255,0.3);
}


.termReversed.dark {
    filter: invert(1);
    transition: 0.2s;
}
.taskbarPanel > .termReversed.dark {
    filter: invert(1);
    transition: 0.2s;
}
.taskbarPanel.activeTab > .termReversed.dark {
  filter: invert(0);
  transition: 0.2s;
}
.taskbarPanel > .termReversed {
    filter: invert(0);
    transition: 0.2s;
}
.taskbarPanel.activeTab > .termReversed {
  filter: invert(1);
  transition: 0.2s;
}
.winheadimg.termReversed.dark {
    filter: invert(1);
    transition: 0.2s;
}
.winheadimg.termReversed {
    transition: 0.2s;
}

#taskbar {
	height: 42px;
	border-top: 1px solid transparent;
	bottom: 0;
	width: 99.5%;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	margin: 0 auto;
    z-index: 1999 !important;
	background: #d6d6d69f;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	transition: 0.5s;
}
#taskbar.dark {
    background: #2929299f;
}
#icons {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
    transition: 0.2s;
}
#icons.dark {
    color: white;
}
#icons a {
    display: table;
    text-align: center;
    transition: 0.11s;
    margin-top: 5px;
}
#icons a:hover {
    background: #00000050;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
    color: #FFF;
    border-radius: 5px;
    transition: 0.2s;
}
#icons img {
    padding: 2px;
}
#watermarkold {
    position: absolute;
    display: none;
    bottom: 50px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
}

#watermark {
    position: absolute;
    display: none;
    bottom: 65px;
    right: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff59;
}


/*Demo styles BEGIN*/
#window0 {	top: 35px;	left: 240px;}
#window1 {	top: 400px; left: 120px;}
#window2 {	top: 250px; left: 300px;}
#window3 {	top: 125px; left: 420px;}
#window4 {	top: 35px;	left: 240px;}
#window5 {	top: 35px;	left: 240px;}
#window6 {	top: 35px;	left: 240px;}
#window7 {	top: 35px;	left: 110px;}
#window8 {	top: 35px;	left: 110px;}
#window9 {	top: 35px;	left: 110px;}



#window0 .wincontent {	width: 660px; height: 400px;	}
#window1 .wincontent {	width: 500px; height: 300px;	}
#window2 .wincontent {	width: 282px; height: 350px;	}
#window3 .wincontent {	width: 450px; height: 450px;	}
#window4 .wincontent {	width: 255px; height: 248px;	}
#window5 .wincontent {	width: 640px; height: 480px;	}
#window6 .wincontent {	width: 830px; height: 635px;	}
#window7 .wincontent {	width: 358px; height: 365px;	}

#window6 > .wincontent iframe {
    height: calc(100% - 20px);
}


@media screen and (max-width:960px){
	#window0 {	left: 10px;	}
	#window3 {	left: 50px;	}
}
@media screen and (max-width:770px){
	#window0 .wincontent {	width: 460px;	}
	#window2 {	left: 100px;	}
	#window1 {	top: 190px;	left: -5px;	}
}
@media screen and (max-width:540px){
#window0 .wincontent {	width: 230px; height: 200px;	}
#window3 .wincontent {
    width: 275px;
    height: auto;
}
#window3 {    top: 9px;    left: 10px;	}
#window2 {    left: -118px;	}
#window1 .wincontent {    width: auto;    height: 300px;	}
}
#window1 .wincontent {
    min-width: 520px;
    min-height: 352px;
    }
#window2 .wincontent {
    min-width: 340px;
    min-height: 350px;
    }
#window3 .wincontent {
min-width: 480px;
min-height: 590px;
}
#window4 .wincontent {
min-width: 340px;
min-height: 335px;
}
#window7 .wincontent {
min-width: 358px;
min-height: 365px;
}
#window8 .wincontent {
    min-width: 464px;
    min-height: 280px;

}
#window9 .wincontent {
    min-width: 465px;
    min-height: 264px;
    max-width: 465px;
    max-height: 264px;

}
#window9.fullSizeWindow > .wincontent {
    min-width: 99.5% !important;
    min-height: 88% !important
}
#window10 .wincontent {
    min-width: 300px;
    min-height: 120px;
    max-width: 300px;
    max-height: 120px;
}
#window10 {
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -135px;
}
#window10 .wincontent > .ui-icon-gripsmall-diagonal-se {
    display: none !important;
}
#window10 .winmaximize {
    display: none !important;
}
#window10 .winminimize {
    display: none !important;
}
#window10 .winclose {
    display: none !important;
}
#window10 .winheadimg {
        border-radius: 20px;
}

#window11 {
    bottom: calc(0% + 63px);
    right: 0px;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-right: transparent;
    border-radius: 0px;
    top: unset !important;
    left: unset !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2001 !important;
}

#window11.wincontent > .ui-resizable-handle {
display: none;
}

#window11 .wincontent {
    min-width: 270px;
    min-height: 140px;
    max-width: 270px;
    max-height: 140px;
}
#window11 .winmaximize {
    display: none !important;
}
#window11 .winminimize {
    display: none !important;
}
#window11 .winclose {
    display: none !important;
}

#minimPanel11 {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }


